<!DOCTYPE html>
<html>
  <head>
    <title>{{ config.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/425a6b9b56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ get_url(path="style.css") | safe }}">
    <link rel="icon" type="image/x-icon" href="{{ get_url(path="favicon.ico") | safe }}">
  </head>
  <body>
    <div class="social-icons">
      <a href="https://linkedin.com/in/frbale"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/baleboy"><i class="fab fa-github"></i></a>
    </div>
    <header>

        <div class="title-wrapper">
            <h1><a href={{ config.base_url }}>{{ config.title }}</a></h1>
          </div>
        <nav>
          <ul>
            <li><a href="{{ get_url(path='@/posts/_index.md') }}">Posts</a></li>
            <li><a href="{{ get_url(path='@/work/_index.md') }}">Work</a></li>
            <li><a href="{{ get_url(path='@/about.md') }}">About</a></li>
          </ul>
        </nav>
      </header>
    <main>
      {% block content %} {% endblock %}
    </main>
    <footer>
        <p>Copyright &copy Bale 2023</p>
      </footer>      
  </body>
</html>
