<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/425a6b9b56.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
  </head>
  <body>
    <header>
        <div class="title-wrapper">
            <h1><a href="/">{{title}}</a></h1>
        </div>
        <nav>
          <ul>
            <li><a href="/work/">Projects</a></li>
            <li><a href="/about/">About</a></li>
          </ul>
        </nav>
      </header>
    <main>
