{% extends "base.html" %}

{% block content %}
<p class="intro">Welcome to my personal website.</p>
<h2>Posts</h2>
<ul class="post-list">
  <li>
    <h2><a href="sample-post.html">Sample post 1</a></h2>
    <time datetime="2023-04-01">April 1, 2023</time>
  </li>
  <li>
      <h2><a href="sample-post.html">Sample post 2</a></h2>
      <time datetime="2023-04-01">April 1, 2023</time>
    </li>
    <li>
      <h2><a href="sample-post.html">Sample post 3</a></h2>
      <time datetime="2023-04-01">April 1, 2023</time>
    </li>
    <li>
      <h2><a href="sample-post.html">Sample post 4</a></h2>
      <time datetime="2023-04-01">April 1, 2023</time>
    </li>
    <li>
      <h2><a href="sample-post.html">Sample post 4</a></h2>
      <time datetime="2023-04-01">April 1, 2023</time>
    </li>
</ul>
{% endblock content %}