{% extends "base.html" %}

{% block content %}
      <h2>{{ section.title }}</h2>
      <p>{{ section.description }}</p>
      <div class="card-container work">
        {% for page in section.pages %}
        <a href="{{ page.permalink | safe }}">
          <div class="card">
            {% if page.extra.header_image %}
            <img src="{{ get_url(path=page.extra.header_image) }}" alt="Header image">
            {% endif %}
            <h3>{{ page.title }}</h3>
          </div>
        </a>
        {% endfor %}
      </div>
{% endblock content %}
